In [1]:
import pandas as pd
import numpy as np

In [2]:
Books = pd.read_csv("BX-Books.csv",sep=";", on_bad_lines="skip", encoding = "latin-1",low_memory=False)

In [3]:
Books.head(5)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
Books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [5]:
Books = Books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher']]

In [6]:
Books.head(5)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [7]:
Books.rename(columns={"Book-Title":"Title","Book-Author":"Author","Year-Of-Publication":"Year","Publisher":"Publisher"},inplace = True)

In [8]:
Books.head(5)

,ISBN,Title,Author,Year,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [9]:
users = pd.read_csv("BX-users.csv",sep=";", on_bad_lines="skip", encoding = "latin-1",low_memory=False)

In [10]:
users.head(5)

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [11]:
users.rename(columns = {"User_ID":"user_id","Location":"location","Age":"age"},inplace = True)

In [12]:
users.head(5)

   User-ID                            location   age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [13]:
ratings = pd.read_csv("BX-Book-Ratings.csv",sep = ";",on_bad_lines = "skip",encoding = "latin-1")

In [14]:
ratings.head(5)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [15]:
ratings.rename(columns = {"User-ID":"user-ID","Book-Rating":"rating"},inplace = True)

In [16]:
ratings.head(5)

   user-ID        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5
2   276727  0446520802       0
3   276729  052165615X       3
4   276729  0521795028       6

In [17]:
Books.shape

(271360, 5)

In [18]:
users.shape

(278858, 3)

In [19]:
ratings.shape

(1149780, 3)

In [20]:
ratings.head(5)

   user-ID        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5
2   276727  0446520802       0
3   276729  052165615X       3
4   276729  0521795028       6

In [21]:
ratings["user-ID"].value_counts().shape

(105283,)

In [22]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   user-ID  1149780 non-null  int64
 1   ISBN     1149780 non-null  object
 2   rating   1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

In [23]:
x = ratings["user-ID"].value_counts()>200

In [24]:
x[x].shape

(899,)

In [25]:
y = x[x].index

In [26]:
y

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
       260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727, 268622,
       188951],
      dtype='int64', name='user-ID', length=899)

In [27]:
ratings=ratings[ratings["user-ID"].isin(y)]

In [28]:
ratings.shape

(526356, 3)

In [29]:
ratings.head(5)

      user-ID        ISBN  rating
1456   277427  002542730X      10
1457   277427  0026217457       0
1458   277427  003008685X       8
1459   277427  0030615321       0
1460   277427  0060002050       0

In [30]:
rating_book_merge = ratings.merge(Books,on="ISBN")

In [31]:
rating_book_merge.shape

(487671, 7)

In [32]:
number_rating = rating_book_merge.groupby("Title")["rating"].count().reset_index()

In [33]:
number_rating.rename(columns = {"rating":"no of rating"},inplace = True)

In [34]:
total_rating = rating_book_merge.merge(number_rating,on = "Title")

In [35]:
total_rating

,user-ID,ISBN,rating,Title,Author,Year,Publisher,no of rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
...,...,...,...,...,...,...,...,...
487666,275970,1892145022,0,Here Is New York,E. B. White,1999,Little Bookroom,1
487667,275970,1931868123,0,There's a Porcupine in My Outhouse: Misadventu...,Mike Tougias,2002,Capital Books (VA),1
487668,275970,3411086211,10,Die Biene.,Sybil GrÃ?Â¤fin SchÃ?Â¶nfeldt,1993,"Bibliographisches Institut, Mannheim",1
487669,275970,3829021860,0,The Penis Book,Joseph Cohen,1999,Konemann,1
487670,275970,4770019572,0,Musashi,Eiji Yoshikawa,1995,Kodansha International (JPN),1

In [36]:
total_rating = total_rating[total_rating["no of rating"]>=50]

In [37]:
total_rating.shape

(61853, 8)

In [38]:
total_rating.drop_duplicates(["Title","user-ID"],inplace = True)

C:\Users\HP\AppData\Local\Temp\ipykernel_15656\3684264376.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_rating.drop_duplicates(["Title","user-ID"],inplace = True)

In [39]:
total_rating.shape

(59850, 8)

In [40]:
pivot_book = total_rating.pivot_table(columns = "user-ID",index="Title",values = "rating")

In [41]:
pivot_book

user-ID,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84 Charing Cross Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
pivot_book.fillna(0,inplace = True)

In [43]:
pivot_book

user-ID,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
from scipy.sparse import csr_matrix
sparse_book = csr_matrix(pivot_book)

In [45]:
type(sparse_book)

scipy.sparse._csr.csr_matrix

In [46]:
from sklearn.neighbors import NearestNeighbors
Model = NearestNeighbors(algorithm='brute')

# Traning to model

In [47]:
Model.fit(sparse_book)

NearestNeighbors(algorithm='brute')

In [48]:
np.where(pivot_book.index==237)

(array([], dtype=int64),)

In [49]:
distance , suggestion = Model.kneighbors(pivot_book.iloc[27,:].values.reshape(1,-1),n_neighbors = 6)

In [50]:
distance

array([[ 0.        , 41.20679556, 41.68932717, 42.39103679, 42.44997055,
        42.50882261]])

In [51]:
suggestion

array([[ 27, 634, 589,  33, 230, 536]], dtype=int64)

In [52]:
for i in range(len(suggestion)):
    print(pivot_book.index[suggestion[i]])

Index(['A Walk to Remember', 'The Rescue',
       'The Killing Game: Only One Can Win...and the Loser Dies', 'Abduction',
       'Granny Dan', 'The Cradle Will Fall'],
      dtype='object', name='Title')

In [53]:
pivot_book.index[54]

'Animal Farm'

In [54]:
np.where(pivot_book.index=="I Know This Much Is True")[0][0]

267

In [59]:
def recmmend(book_name):
    book_id = np.where(pivot_book.index==book_name)[0][0]
    distance , suggestion = Model.kneighbors(pivot_book.iloc[book_id,:].values.reshape(1,-1),n_neighbors = 6)

    for i in range(len(suggestion)):
        if i == 0:
            print("The book suggestion for ",book_name,"are:-")
        if not i:
            print(pivot_book.index[suggestion[i]])

In [60]:
recmmend("Animal Farm")

The book suggestion for  Animal Farm are:-
Index(['Animal Farm', 'Exclusive', 'Jacob Have I Loved', 'Second Nature',
       'Pleading Guilty', 'No Safe Place'],
      dtype='object', name='Title')

In [82]:
def recmmend(book_name):
    book_id = np.where(pivot_book.index==book_name)[0][0]
    distance , suggestion = Model.kneighbors(pivot_book.iloc[book_id,:].values.reshape(1,-1),n_neighbors = 6)

    for i in range(len(suggestion)):
        suggested_book_id = suggestion[0][i]
        suggested_book_name = pivot_book.index[suggested_book_id]
        if suggested_book_name == book_name:
            pass
        else:
            print(pivot_book.index[suggestion[i]])

In [83]:
recmmend("Animal Farm")

In [71]:
def recommend(book_name):
    try:
        # Get the book ID
        book_id = np.where(pivot_book.index == book_name)[0][0]
        
        # Get the neighbors
        distance, suggestion = Model.kneighbors(pivot_book.iloc[book_id, :].values.reshape(1, -1), n_neighbors=6)
        
        # Iterate through suggestions
        for i in range(len(suggestion[0])):
            suggested_book_id = suggestion[0][i]
            suggested_book_name = pivot_book.index[suggested_book_id]
            
            # Skip the queried book itself
            if suggested_book_name == book_name:
                continue
            
            print(suggested_book_name)
    except IndexError:
        print(f"Book '{book_name}' not found in the pivot table.")
    except Exception as e:
        print(f"An error occurred: {e}")

# Example usage
recommend("Animal Farm")

Exclusive
Jacob Have I Loved
Second Nature
Pleading Guilty
No Safe Place